<ion-view>

    <ion-nav-buttons side="left">
        <div class="stripes" sidemenubut>
            <button class="button button-icon button-clear ion-navicon txtWhite " menu-toggle="left">
            </button>            
        </div>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <h3 ng-show="(parentObj.loginState)" class="btnLogin">
            <a ng-click="logOut()"><i class="ion-power"></i></a>
        </h3>
    </ion-nav-buttons>



    <ion-content ng-controller="HomeCtrl" id="homeCont" scroll="false">
        <div class="container home">

           <!--  <button class="button" ng-click="addNote()">Add Notification</button>
            <button class="button" ng-click="isScheduled()">Is Scheduled</button> -->
            
            <!-- <div class="home-img-figure" ng-click="colourSwap()"></div> -->
            <div id="home_form">
                          
                <div ng-show="(parentObj.loginState)">
                    <div id="home_logo">
                        <div class="logo_img"></div>
                        <div class="txtWhite title">MYLO</div>
                    </div>
                    <br><br>
                    <div class="centered medium-font">
                        <a class="txtWhite" ng-click="gotoHow()">How To Meditate</a>
                    </div>
                    <br>
                    <div class="centered medium-font">
                        <a class="txtWhite" ng-click="gotoGuide()">Guided Meditation</a>
                    </div>
                    <div class="home_buttons">
                        <div class="home-btns-cont new-entry">
                            <a swapColour="changeColour()" data-mylonxtpage="{{linkNewEntry}}" class="txtWhite button icon-left ion-plus-round button-clear button-dark" ng-click="createEntry()">new entry</a>
                        </div>
                        <div class="home-btns-cont view-stats">
                            <a swapColour="changeColour()" data-mylonxtpage="{{linkViewStats}}" class="txtWhite button icon-left ion-stats-bars button-clear button-dark" >view stats</a>
                        </div>
                    </div>
                </div>
                <div ng-hide="(parentObj.loginState)">
                    <p class="txtInfo txtWhite">Login to see your Stats</p>
                    <h3 ng-hide="(parentObj.loginState)" class="txtWhite btnLoginCen centCont button-full width80 button-stable btn-loginHome ">
                        <a ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Login</a>
                    </h3>
                </div>
            </div>            
        </div>        
    </ion-content>
    
</ion-view>