<ion-view>
    
    <ion-nav-bar align-title="center">
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i>
        </ion-nav-back-button>
        <ion-nav-title>
            <h4 class="view_title">
                MYLO
            </h4>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <h3 class="btnLogin">
                <a ng-click="goHome()"><i class="ion-chevron-right"></i></a>
            </h3>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <div class="container stats">
            <p class="txt_title">Meditation Stats</p>

            <div class="landmarks">
                <div class="rating">
                </div>
                <div class="signs">
                    <!-- <img src="../img/meditated/clock.png" class="signs-img"> -->
                    <div class="signs-img clock"></div>
                    <div class="signs-label">Length&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <!-- <img src="../img/meditated/brain.png" class="signs-img"> -->
                    <div class="signs-img brain"></div>
                    <div class="signs-label">Thoughtless&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                    <!-- <img src="../img/days/day-rating.png" class="signs-img"> -->
                    <div class="signs-img rating"></div>
                    <div class="signs-label">Quality</div>
                </div>
            </div>
            <!-- <div id="VisCont" width="100%" svgstats></div> -->
            
            <div id="stats_graph">
                <div class="stat" ng-repeat="stat in jsonData">
                    <div class="stat_date">{{stat.medDate}}</div>
                    <div class="stats_length">
                        <div class="bar-caption-image clock"></div>
                        <div class="bar-graph">
                            <div style="width: {{ 37 + (stat.medLen/5)*7 }}%;" class="length_bar" ng-class="{'no_width':stat.medLen==0}">{{stat.medLen}} mins</div>
                        </div>
                    </div>
                    <div class="stats_thoughtless brain">
                        <div class="bar-caption-image brain"></div>
                        <div class="bar-graph">
                            <div style="width: {{ 50 + stat.medTho*50 }}%;" class="thoughtless_bar" ng-class="stat.medThoStr">{{stat.medThoStr}}</div>
                        </div>
                    </div>
                    <div class="stats_rating">
                        <div class="bar-caption-image rating"></div>
                        <div class="bar-graph">
                            <div style="width: {{ 30 + stat.medUql*2 }}%;" class="rating_bar" ng-class="{0:'no_width', 5:'poor_rating', 17:'average_rating', 35:'good_rating'}[stat.medUql]">{{stat.medUqlStr}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="txt_monthlabel vertical-text">
                {{ monthTitle }}
            </div>
            <!-- <p class="txtInfo txtWhite dblPage-txt">Meditation Stats</p>

            <p class="txtWhite keyTitle">Colour key:</p>
            <ul class="txtWhite" >
                <li ng-repeat="mykey in myloKey" ng-if="$index < 3" class="vert">
                    <div class="keyBox {{mykey.boxCol}}"></div>
                    <p class="keyTxt">{{mykey.pageName}}</p>                    
                </li>
                <li ng-repeat="mykey in myloKey" ng-if="$index >= 3" class="horiz">
                    <div class="keyBox {{mykey.boxCol}}"></div>
                    <p class="keyTxt">{{mykey.pageName}}</p>                    
                </li>
            </ul>
            
            <div id="VisCont" width="100%" svgstats></div>
            <div class="swipe-container-right" on-swipe-right="onSwipeAcross('yes')"> 
                <a swapColour="changeColour()" class="page-arrow-right arrow-right button button-clear button-dark txtWhite" data-mylonxtpage="{{medEventAdvice}}">></a> 
            </div> -->
        </div>
    </ion-content>
</ion-view>