<ion-view title="" hide-nav-bar="true">

    <!-- <ion-nav-buttons side="left" ng-show="parentObj.loginState" ng-click(myloBack())>        
                <h3 class="txtWhite btnBack header-home-but">
                    <a swapColour="changeColour()" data-mylonxtpage="0">< Go back</a>
                </h3>
    </ion-nav-buttons> -->
    
    <ion-content ng-controller="LoginCtrl">    
    
        <div class="container login">
            <div id="login_logo">
                <div class="logo_img"></div>
                <div class="txtGreen title">MYLO</div>
            </div>
            <div id="loginForm">
                <form>
                    <label class="item item-input">
                        <input type="email" placeholder="Email address" ng-model="form.email"/>
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Password" ng-model="form.password">
                    </label>
                    <div style="">
                        <button class="button button-login" ng-click="loginWithPass()">Login</button>
                        <button class="button button-register" ng-click="createUser()">Register</button>
                    </div>
                    <div style="clear:both;"></div>
                    <!-- <label class="forgot-password">
                        Forgot your password?
                    </label> -->

                    <p class="login-inline loginMessageTxt" ng-if="message">Message: <strong>{{ message }}</strong></p>
                    <p class="login-inline loginMessageTxt" ng-if="error">Error: <strong>{{ error }}</strong></p>
                </form>

                <div style="height: 1px; background-color: #101010; text-align: center">
                    <span style="background-color: white; position: relative; top: -0.7em; color: #666;">
                        &nbsp;&nbsp;&nbsp;Or Sign Up Via&nbsp;&nbsp;&nbsp;
                    </span>
                </div>
                <div class="buttons-signup">
                    <div class="signup-button signup-go" ng-click="parentObj.auth.$authWithOAuthPopup('google', {scope: 'email'})"></div>
                    <div class="signup-button signup-fb" ng-click="parentObj.auth.$authWithOAuthPopup('facebook', {scope: 'email'})"></div>
                    <div class="signup-button signup-twitter" ng-click="parentObj.auth.$authWithOAuthPopup('twitter')"></div>
                </div>
            </div>
        </div>
        
    </ion-content>
</ion-view>

