<ion-view title="">
    
	<ion-nav-buttons side="left">
            <div class="stripes" sidemenubut>
            <button class="button button-icon button-clear ion-navicon txtWhite " menu-toggle="left">
            </button>
            </div>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">                 
        <h3 ng-hide="(parentObj.loginState)" class="txtWhite btnLogin ">
            <a ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Login</a>
        </h3>
        <h3 ng-show="(parentObj.loginState)" class="btnLogin">
            <a  ng-click="logOut()" swapColour="changeColour()">Logout</a>            
        </h3>  
    </ion-nav-buttons>

    <ion-content ng-controller="MeditationHowCtrl" scroll="true">
    	<div class="container">
    		<p class="txtInfo txtWhite dblPage-txt">{{aboutData.section1.title}}</p>
    		<article class="infoCont about">

                <div class="home-img-figure about-img"></div>	    
			    
			    
			    <h5 class="txtWhite about-cen">Version: {{aboutData.section1.version}}</h5>
                <h6 class="txtWhite about-cen">{{aboutData.section1.copyright}}</h6>
			    <p class="txtWhite about-bot">{{aboutData.section1.description}}</p>

                <section>
                    <p class="txtWhite">Owner: {{aboutData.section2.owner}}</p>
                    <p class="txtWhite">Contact: {{aboutData.section2.owneremail}}</p>
                    <p class="txtWhite">Website: {{aboutData.section2.ownerwebsite}}</p>
                </section>

                <section>
                    <p class="txtWhite">Developed by: {{aboutData.section2.developer}}</p>
                    <p class="txtWhite">Contact: {{aboutData.section2.devemail}}</p>
                    <p class="txtWhite">Website: {{aboutData.section2.devwebsite}}</p>
                </section>

			   
			</article>			
        </div>
    </ion-content>

</ion-view>