<ion-view>
    
	<ion-nav-bar align-title="center">
        <ion-nav-back-button class="button-clear">
			<i class="ion-chevron-left"></i>
		</ion-nav-back-button>
        <ion-nav-title>
            <h4 class="view_title">
                MYLO
            </h4>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <h3 class="btnLogin">
                <a><i class="ion-chevron-right"></i></a>
            </h3>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content ng-controller="MeditationThoughtlessCtrl" scroll="false">
    	<div class="container thoughtless">
	    	
		    <!-- <p class="txtInfo txtWhite dblPage-txt">Did you have any thoughtless moments?</p>
		    <div id="txtDblCont">
	            <div id="txtId2" on-swipe-right="onSwipeAcross('yes')">
	            	<a swapColour="changeColour()" class="btn-meditated ansButtonTop button button-clear button-dark txtWhite dblPage-txt" ng-click="setAnswer('yes')" data-mylonxtpage="{{medEventYes}}">YES <span>></span></a>
	            </div>             
	            <div id="txtId3" on-swipe-left="onSwipeAcross('no')">
	            	<a swapColour="changeColour()" class="btn-meditated ansButtonBot button button-clear button-dark txtWhite dblPage-txt" ng-click="setAnswer('no')" data-mylonxtpage="{{medEventNo}}"><span><</span> NO</a>
	            </div>	           
	        </div>

			<div class="container-flex-abs">
				<div class="container-sm">
					<div class="home-img-figure-sm"></div>
				</div>
			</div> -->
			
			<div class="thoughtless_logo_img"></div>
		    <p class="txt_title">Did you have any thoughtless <br> moments?</p>
		    <div class="buttons-thoughtless">
			    <div class="thoughtless-button thoughtless-no" ng-click="setAnswer('no')"></div>
			    <div class="thoughtless-button thoughtless-yes" ng-click="setAnswer('yes')"></div>
			</div>
        </div>
    </ion-content>

   
</ion-view>