<ion-view title="" class="green-background">

    <ion-nav-bar align-title="center">
        <!-- <ion-nav-buttons side="left">
            <h3 class="btnBack">
                <a ng-click="myGoBack()"><i class="ion-chevron-left"></i></a>
            </h3>
        </ion-nav-buttons> -->
        <ion-nav-back-button class="button-clear">
            <i class="ion-chevron-left"></i>
        </ion-nav-back-button>
        <ion-nav-title>
            <h4 class="view_title">
                MYLO
            </h4>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <h3 ng-show="(parentObj.loginState)" class="btnLogin">
                <a ng-click="logOut()"><i class="ion-power"></i></a>
            </h3>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content ng-controller="MeditationGuideCtrl" scroll="true">
        <div class="container">
            <p class="txtWhite txtInfo dblPage-txt">Meditation Guide</p><br>
            <div class="centered">
    			<span class="underlined txtWhite" ng-click="togglePlay()">
    				Click here to listen to some meditation music
    			</span>
            </div>
            <article class="infoCont">

                <p class="txtWhite bodyinfo">Sit down in a comfortable position, and close the eyes to take the attention inside ourselves. Some folk prefer to look at the flame of a candle in order to take their attention away from their thoughts. Whatever method you choose, sit like this for a few moments to settle the system (do not worry about thoughts crowding in).Then do the following short silent affirmations inside (not out loud), using the hand to guide our attention to the correct spot for the subtle centre concerned.</p>

                <article>
                    <img src="img/guide/MeditationPosturesfull2B-Heart-135x300.png" class="pull-left" />
                    <p class="txtWhite "><span>1.</span>Place right hand on heart area at the centre of the body: Say to yourself silently inside; Please let me be less anxious</p>
                </article>

                <article>
                    <img src="img/guide/MeditationPosturesfull2B-Throat-135x300.png"  class="pull-right"  />
                    <p class="txtWhite "><span>2.</span> Place right hand at the base of the throat (where shoulders meet the neck): Say; Please let me be detached</p>
                </article>

                <article>
                    <img src="img/guide/MeditationPosturesfull66-133x300.png"  class="pull-left"  />
                    <p class="txtWhite "><span>3.</span> Place right hand on forehead: Say: Please let me be more forgiving</p>
                </article>

                <article>
                    <img src="img/guide/MeditationPosturesfull77-134x300.png"  class="pull-right"  />
                    <p class="txtWhite "><span>4.</span> Place right hand palm down on the top of the head: Say: Please let me enjoy thoughtless awareness</p>
                </article>


                <p class="txtWhite  bodyinfo">These affirmations focus the attention on the areas which will take you into meditation most easily, and also help reduce any obstacles to slowing the pace of thoughts in our mind.</p>


                <article>
                    <img src="img/guide/MeditationPostures11-140x300.png" class="pull-left" style="margin-right:1em"/>
                    <p class="txtWhite "><span>Relax</span><br> Then take the attention to the top of your head, and sit quietly for as long as you are comfortable. Sometimes it helps when thoughts intrude if we place the right hand on top of the head again for a few seconds, palm down, to help anchor our attention there. Do not worry about thoughts coming into your head, just watch them float in and then float away. Imagine the right side of your body cooling down from hot to cold.</p>
                </article>
                <article>
                    <p class="txtWhite  pwithHeading">Even though there may be thoughts coming into our mind, we should start to notice after a few minutes that they are not quite as frantic, and we’re experiencing a more peaceful feeling inside. Keep the attention inside, and just let ourselves go deeper into the meditation as the minutes pass, and the Kundalini energy works on our subtle system.</p>
                </article>

                <article>
                    <img src="img/guide/MeditationPosturesKundalini-135x300.png" class="pull-left" style="margin-right:1em"/>
                    <p class="txtWhite "><span>Raising the Kundalini</span><br> One trick which can help us move more easily into a deeper state of meditation is to gently raise our right hand from the base of the spine (or groin area) up the centre of the body to the top of the head. We can do this three or four times, and repeat a few times as necessary during the settling phase. This slow movement traces the path of the Kundalini energy, and can help our attention move to the top of the head fairly effortlessly.</p>
                </article>

                <article>
                    <h1 class="txtWhite ">How Long?</h1>
                    <p class="txtWhite  pwithHeading">
                        After your chosen time has finished (we recommend around 15 minutes at least), we can slowly allow ourselves to come out of meditation and open the eyes. We should try and do this slowly, and not just rush up out of the chair and start busying ourselves again.<br><br>
                        We recommend that you try hard to meditate every single morning to begin with. If you are having trouble sleeping, you may want to add in an evening meditation which will help you fall asleep faster, and sleep much better, so you awake more refreshed.<br><br>
                        <strong>Remember, it’s much better to do a short meditation every day, rather than try and do a long one every now and then. This is because every time you do it, the subtle energy inside you becomes more dynamic and delivers more of a powerful effect.</strong></p>
                </article>

                <aside  class="txtWhite ">
                    This content was extracted from <a ng-click='externalLink("http://meditationforstress.net/how-to-meditate/")' >http://meditationforstress.net</a> visit the site for more information.
                </aside>

                <button ng-click="nxtPage()" class="button button-full button-stable btn-logout"> < Back to homepage  </button>
            </article>
        </div>
    </ion-content>


</ion-view>