<ion-view>

	<ion-nav-bar align-title="center">
		<ion-nav-back-button class="button-clear">
			<i class="ion-chevron-left"></i>
		</ion-nav-back-button>
		<ion-nav-title>
			<h3 class="view_title">
		    	MYLO
		    </h3>
		</ion-nav-title>
		<ion-nav-buttons side="right">                 
	        <!-- <h3 ng-hide="(parentObj.loginState)" class="txtWhite btnLogin ">
	            <a ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Login</a>
	        </h3>
	        <h3 ng-show="(parentObj.loginState)" class="btnLogin">
	            <a  ng-click="loginProcess()" swapColour="changeColour()" data-mylonxtpage="6">Logout</a>            
	        </h3>  --> 
	        <h3 class="btnLogin">
	            <a><i class="ion-chevron-right"></i></a>
	        </h3>
	    </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content ng-controller="MeditatedCtrl" scroll="false">
	    <div class="container meditated">
            <div class="meditated_logo_img"></div>
		    <p class="txt_title">Did you meditate?</p>
		    <!-- <div id="txtDblCont">
	            <div id="txtId2" on-swipe-right="onSwipeAcross('yes')">
	            	<a swapColour="changeColour()" class="ansButtonTop btn-meditated button button-clear button-dark txtWhite dblPage-txt" ng-click="setAnswer('yes')" data-mylonxtpage="{{medEventYes}}">YES <span>></span></a>
	            </div>             
	            <div id="txtId3" on-swipe-left="onSwipeAcross('no')">
	            	<a swapColour="changeColour()" class="ansButtonBot btn-meditated button button-clear button-dark txtWhite dblPage-txt" ng-click="setAnswer('no')" data-mylonxtpage="{{medEventNo}}"><span><</span> NO</a>
	            </div>	           
	        </div> -->
	        <!-- <div class="container-flex-abs">
				<div class="container-sm">
					<div class="home-img-figure-sm"></div>
				</div>
			</div> -->
			<div class="buttons-meditated">
			    <div class="meditated-button meditated-no" ng-click="setAnswer('no')"></div>
			    <div class="meditated-button meditated-yes" ng-click="setAnswer('yes')"></div>
			</div>
        </div>
    </ion-content>
</ion-view>